.scrollable{
  overflow-x: scroll; 
  height: 110px;

}
.subjectCard{
  width: 500px;
}
.subjectCardHeader {
  background-color: royalblue;
  /* background-image: url(./Images/banner4.png);
  background-size: cover;
  background-repeat: no-repeat; */
  height: 100px;
  color: white;
  line-height: 100px;
}

.GiBlackBook{
  margin: 30px;
}

.viewAll{
  float: right;
  margin: 10px 30px;
}

.deadlineCard{
  width: 500px;
  height: 280px;
}
.deadlineCardHeader {
  background-color: #d30c0c;
  /* background-image: url(./Images/banner4.png);
  background-size: cover;
  background-repeat: no-repeat; */
  height: 100px;
  color: white;
  line-height: 100px;
}

.assignmentCard{
  width: 500px;
}
.assignmentCardHeader {
  background-color: #053e6d;
  /* background-image: url(./Images/banner4.png);
  background-size: cover;
  background-repeat: no-repeat; */
  height: 100px;
  color: white;
  line-height: 100px;
}

.testCard{
  width: 500px;
}

.testCardHeader {
  background-color: purple;
  /* background-image: url(./Images/banner4.png);
  background-size: cover;
  background-repeat: no-repeat; */
  width: 900px;
  height: 100px;
  color: white;
  line-height: 100px;
}


.subjectsPanel{
  width: 250px;
  height: 150px;
  line-height: 150px;
  font-size: 30px;
  padding: 0px 0px 0px 70px;
  color: white;
  background: rgb(59,59,144);
  background: linear-gradient(240deg, rgba(59,59,144,1) 0%, rgba(0,212,255,1) 100%);
}